[submodule "Flat-Ui"]
	path = app/webroot/css/Flat-UI
	url = https://github.com/designmodo/Flat-UI.git
[submodule "php-github-api"]
	path = app/Vendor/php-github-api
	url = https://github.com/KnpLabs/php-github-api.git
[submodule "magento-client-php"]
	path = app/Vendor/magento-client-php
	url = https://github.com/cpliakas/magento-client-php.git
