/**
 * Calendar element style
 * By: Louis <louis@ne02ptzero.me>
 * Template: Elements/Calendars/main.ctp
 */

.calendar .month {
	text-align: center;
	width: 310px;
	background: #3498db;
	border-radius: 8px;
	margin-top: 10px;
}

.calendar .month .left {
	float: left;
	margin-left: 10px;
}

.calendar .month .right {
	float: right;
	margin-right: 10px;
}

.calendar .month .chevron {
	margin-top: 12px;
	color: white;
}

.calendar table {
	background: #ecf0f1;
	width: 100%;
}

.calendar .month table tr td {
	padding: 3px;
}

.calendar .month table tr th {
	padding-left: 5px;
	padding-right: 5px;
	background: #3498db;
}

.calendar .month table tr td span {
	color: #514E4E;
	padding: 5px;
	border-radius: 16px;
}

.calendar .month table tr td .single {
	padding-left: 10px;
	padding-right: 10px;
}

.calendar .month table tr td .today {
	background: #8e44ad;
	color: white;
}
