/**
 * Menu css
 * By: ryad <ryadk@hotmail.com>
 */

/********************/
/*  Action: menu   */
/*******************/

	.menuTodo {
		height: 100%;
		margin-left: -46px;
		margin-top: -30px;
		width: 216px !important;
		position: fixed;
		top: 83px;
	}

	.menuTodo .todo-search {
		background: #3498db;
	}

	.menuTodo .mainUl {
		height: 100%;
		padding: 0;
	}

	.menuTodo .dropdownMenu {
		display: none;
		width: 100%;
		margin-top: 17px;
	}
	
	.menuTodo ul li a {
		text-transform: uppercase;
		color: white;
		margin-left: 30px;
	}
	
	.menuTodo ul li .fui {
		float: right;
		margin-right: 10px;
	}

	.menuTodo ul li:after {
		visibility: hidden;
	}

	.menuTodo ul li {
		width: 100%;
		padding: 15px 0 20px 0;
	}

	.dropdownMenu li {
		background-color: #2980b9;
		margin-left: 3px;
		width: 97% !important;
		border-radius: 0 !important;
	}
	
	.dropdownMenu li a {
		text-transform: none !important;
		padding-left: 30px;
		color: white !important;
		font-weight: bold;
		margin: 0 !important;
	}

	.menuTodo .todo-done {
		padding-bottom: 0 !important;
	}

	.dropdownMenu li input {
		width: 85%;
		height: 30px;
		border: 0;
		padding-left: 10px;
		border-bottom-left-radius: 10px;
		border-top-left-radius: 10px;
		margin-left: 3px;
		color: #2C3E50;
	}

	.dropdownMenu li span {
		width: 20%;
		background-color: #2C3E50;
		height: 30px;
		color: white;
		font-size: 1.2em;
		padding-right: 5px;
		padding-left: 5px;
		padding-bottom: 8px;
		padding-top: 4px;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
	}

	.dropdownMenu li .left {
		border-radius: 10px;
		float: right;
		margin-right: 20px;
		padding-right: 10px;
		padding-left: 10px;
		width: auto;
	}
