/**
 * Notifications style
 * By: Louis <louis@ne02ptzero.me>
 */

/***************/
/* View: index */
/***************/

	.notifications ul li {
		margin-bottom: 5px;
		border: 0;
	}
	
	.notifications ul li a {
		color: white;
	}

	.notifications ul .newUser {
		background-color: #27ae60;
	}
	
	.notifications ul .newProduct {
		background-color: #2980b9;
	}

	.notifications ul li .right {
		float: right;
		color: #bdc3c7 !important;
		transition-property: all;
		transition-duration: 0.7s;
		padding: 0 10px;
	}

	.notifications ul li .right:hover {
		color: #2ecc71 !important;
		border: 1px solid white;
		border-radius: 50px;
		cursor: pointer;
	}

	.notifications .navbar div ul {
		width: 100% !important;
		text-align: center !important;
		padding: 0 20%;
	}

	.notifications h1 {
		text-align: center;
	}
