/**
 * Products style
 * By: Louis <louis@ne02ptzero.me>
 */

/***************/
/* Action: add */
/***************/

	.addProduct .shortDescription {
		display: none;
	}

/*****************/
/* Action: index */
/*****************/

	.more {
		float: right;
		font-size: 2em;
		color: white;
		background: #27ae60;
		padding: 0 1%;
		border-radius: 80px;
	}

	.delete {
		float: right;
		font-size: 2em;
		color: white;
		background: #c0392b;
		padding: 0 1%;
		border-radius: 80px;
		margin-left: 10px;
		display: none;
	}

	.addWebsite {
		float: right;
		font-size: 2em;
		color: white;
		background: #27ae60;
		padding: 0 1%;
		border-radius: 80px;
		display: none;
	}

	.websites {
		position: absolute;
		right: 40px;
		top: 200px;
		display: none;
	}

	.websites button {
		width: 100%;
	}

	.more a {
		color: white !important;
	}

	.product_list {
		width: 100%;
	}

	.product_list ul {
		width: 100%;
		list-style: none;
	}

	.product_list ul li {
		width: 10%;
		margin-right: 20px;
		text-align: center;
	}

	.product_list ul li img {
		width: auto;
		height: 200px;
	}

	.product_list ul li button {
		position: absolute;
		margin-top: -40px;
		display: block;
		visibility: hidden;
	}

	.product_list ul li h6 {
		font-weight: bold;
	}
	
	.product_list ul li h6 .creator {
		font-weight: normal;
		font-size: 0.7em;
		font-style: italic;
	}
	
	.product_list ul li .count {
		float: right;
		position: absolute;
		margin-left: 10px;
		display: none;
	}

	.datFade {
		display: none;
	}

	.messageProducts {
		width: 100%;
		background: #16a085;
		color: white;
		padding-left: 50px;
		padding-bottom: 10px;
		margin-bottom: 5px;
	}

	.messageProducts .fui-check {
		margin-right: 50px;
	}

/**************/
/* View: edit */
/**************/

	.productEdit h5 span {
		font-weight: normal;
	}

	.productEdit h5 span .fui-document {
		color: #3498db;
	}

	.productEdit h5 span .fui-heart {
		color: #e74c3c;
	}

	.productEdit h5 span .fui-check {
		color: #27ae60;
	}

	.productEdit .form-group ul {
		list-style: none;
		width: 100%;
	}
	
	.productEdit .form-group ul li {
		display: inline-table;
		width: 45%;
		margin-right: 20px;
	}
	
	.productEdit .form-group ul li .gotError label {
		font-weight: bold;
		background: #ecf0f1;
		width: 100%;
		border-left: 2px #1abc9c solid;
		padding-left: 30px;
	}

	.productEdit .form-group img {
		height: 300px;
		width: auto;
		margin-bottom: 20px;
	}

	.productEdit .form-group input[type="file"] {
		padding-top: 0;
	}

	.productEdit .btn-success {
		margin-bottom: 15px;
	}
